[workspace]
members = ["js-bindgen-test","js-sys", "web-sys"]
resolver = "2"

[workspace.package]
edition = "2024"
rust-version = "1.85"

[workspace.dependencies]
js-bindgen = { path = "../host/js-bindgen" }
js-bindgen-test-macro = { path = "../host/js-bindgen-test-macro" }
js-bindgen-test = { path = "js-bindgen-test" }
js-sys = { path = "js-sys" }
js-sys-macro = { path = "../host/js-sys-macro" }
mini-alloc = "1"
web-sys = { path = "web-sys" }

[package]
edition = { workspace = true }
name = "examples"
publish = false

[dev-dependencies]
mini-alloc = { workspace = true }
web-sys = { workspace = true }

[[example]]
crate-type = ["cdylib"]
name = "basic"

[workspace.lints.rust]
linker_messages = "warn"

[lints]
workspace = true

[patch.crates-io]
# Wasm64 support: https://github.com/oli-obk/ui_test/issues/361.
mini-alloc = { git = "https://github.com/daxpedda/mini-alloc", branch = "wasm64" }
