[workspace]
members = ["js-bindgen", "js-sys", "js-sys-macro", "shared", "web-sys"]
resolver = "2"

[package]
edition = "2021"
name = "examples"

[dev-dependencies]
mini-alloc = "1"
web-sys = { path = "web-sys" }

[[example]]
crate-type = ["cdylib"]
name = "basic"

[workspace.lints.rust]
linker_messages = "warn"

[workspace.lints.clippy]
tabs_in_doc_comments = "allow"

[lints]
workspace = true

[patch.crates-io]
# https://github.com/oli-obk/ui_test/issues/361
mini-alloc = { git = "https://github.com/daxpedda/mini-alloc", branch = "wasm64" }
# Wasm64 support.
ui_test = { git = "https://github.com/daxpedda/ui_test", branch = "js-bindgen" }
