# See https://github.com/oli-obk/ui_test/issues/177.
* text=auto eol=lf

/client/**/*.js-sys.rs  linguist-generated=true
/host/**/*.js           linguist-generated=true

*.stderr                linguist-documentation
/client/examples/*.wat  linguist-documentation
/client/examples/*.js   linguist-documentation
