[workspace]
members = ["js-bindgen", "js-sys-macro", "ld", "shared", "wasm-ld-opt"]
resolver = "2"

[workspace.package]
edition = "2024"
rust-version = "1.85"

[workspace.dependencies]
anyhow = "1"
hashbrown = "0.16"
itertools = { version = "0.14", default-features = false }
js-bindgen-shared = { path = "shared" }
object = { version = "0.38", default-features = false, features = ["archive", "read_core", "std"] }
prettyplease = "0.2"
proc-macro2 = { version = "1", default-features = false }
quote = { version = "1", default-features = false }
serde_json = { version = "1", default-features = false, features = ["alloc"] }
similar-asserts = { version = "1", default-features = false }
syn = { version = "2", default-features = false, features = ["parsing", "printing"] }
ui_test = { version = "0.30", default-features = false, features = ["rustc"] }
wasm-encoder = { version = "0.243", default-features = false, features = ["wasmparser"] }
wasmparser = { version = "0.243", default-features = false }

[patch.crates-io]
# Proc-macro bug: https://github.com/oli-obk/ui_test/issues/361.
ui_test = { git = "https://github.com/daxpedda/ui_test", branch = "js-bindgen" }

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage_nightly)'] }

[workspace.lints.clippy]
obfuscated_if_else = "allow"
tabs_in_doc_comments = "allow"
undocumented_unsafe_blocks = "warn"
