(
	imports: [
		(
			module: "wabii",
			name: "time.performance_now",
			js: "() => globalThis.performance.now()",
		),
		(
			module: "wabii",
			name: "time.atomic_performance_now",
			js: r#"(() => {
  const origin = globalThis.performance.timeOrigin
  return () => {
    return origin + globalThis.performance.now()
  }
})()"#,
		),
		(
			module: "wabii",
			name: "time.date_now",
			js: "Date.now",
		),
	],
)
